PORT=3000
FRONTEND_ORIGIN='http://localhost:5173'
HOST='0.0.0.0'
CLOUDINARY_CLOUD_NAME=<cloudinary name>
CLOUDINARY_API_SECRET=<cloudinary api secret>
CLOUDINARY_API_KEY=<cloudinary api key>
GROQ_API_KEY=<groq api key>
GEMINI_API_KEY=<gemini api key>
DB_URI=<mongo db uri>
JWT_KEY=<jwt secret key>
ML_API_URL='http://localhost:8080'